<template>
  <nav class="app-nav">
    <p
      v-for="month in months"
      :key="month"
      class="app-nav__item"
      :class="{ active: month === activeMonth }"
      :style="{ backgroundColor: setBackGroundColor(sortedUsers[month].length) }"
      @mouseenter="handleMouseenter(month)"
    >
      {{ month }}
    </p>
  </nav>
</template>

<script>
import { COLOR } from '../constants/index';

export default {
  name: 'MonthsList',

  props: {
    months: {
      type: Array,
      required: true,
    },

    sortedUsers: {
      type: Object,
      required: true,
    }
  },

  data: () => ({
    activeMonth: null,
  }),

  methods: {
    setBackGroundColor(usersLength) {
      const {
        GRAY,
        BLUE,
        GREEN,
        RED
      } = COLOR

      switch(true) {
        case usersLength <= 2:
          return GRAY
        case usersLength <= 6:
          return BLUE
        case usersLength <= 10:
          return GREEN
        default:
          return RED
      }
   },

   handleMouseenter(month) {
     this.activeMonth = month
     this.$emit('mouse:enter', month)
   }
  }
}
</script>

<style lang="scss">
  .app-nav {
    display: flex;
    width: 100%;

    @media(max-width: 1199px) {
      flex-wrap: wrap;
    }

    &__item {
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      color: #fff;
      text-align: center;
      font-weight: 500;
      width: calc(100% / 12);
      transition: opacity .25s ease-in-out;
      cursor: pointer;
      border: 2px solid black;

      &:hover,
      &.active {
        opacity: .6;
      }

      @media(max-width: 1199px) {
        width: calc(100% / 6);
      }

      @media(max-width: 767px) {
        width: calc(100% / 4);
      }

      @media(max-width: 600px) {
        width: calc(100% / 2);
      }
    }
  }
</style>