<template>
  <transition name="fade" mode="out-in">
    <ul class="users" :key="users.length">
      <li
        v-for="{ id, firstName, lastName } in users"
        :key="id"
        class="users__item"
      >
        {{ firstName }} {{ lastName }}
      </li>
    </ul>
  </transition>
</template>

<script>
export default {
  name: 'UsersList',
  props: {
      users: {
      type: Array,
      required: true,
    }
  }
}
</script>

<style lang="scss">
  .users {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    &__item {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>