<template>
  <div id="app">
    <header class="app-header">
      <MonthsList
        :months="isMonths"
        :sortedUsers="isSortedUsers"
        @mouse:enter="showUsers"
      />
    </header>

    <main
      v-if="users.length"
      class="app-main"
    >
      <UsersList :users="showedUsers" />
    </main>
  </div>
</template>

<script>
import api from './utils/api'
import moment from 'moment'

import MonthsList from './components/MonthsList';
import UsersList from './components/UsersList';

export default {
  name: 'App',

  components: {
    MonthsList,
    UsersList
  },

  data: () => ({
    users: [],
    showedUsers: []
  }),

  created() {
    api.getUsers()
      .then(({ data }) => {
        this.users = data
      })
      .catch(error => {
        throw new Error(error)
      })
  },

  methods: {
    showUsers(month) {
      this.showedUsers = this.isSortedUsers[month]
    },
  },

  computed: {
    isSortedUsers() {
      const sorted = {}

      this.isMonths.forEach((item, index) => {
        sorted[item] = this.users.filter(u => moment(u.dob).get('month') === index)
      })

      return sorted
    },

    isMonths: () => moment.months() 
  }
}
</script>

<style lang="scss">
  body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .app-header {
    display: flex;
  }

  .app-main {
    padding: 15px;
  }
</style>
